# Respect default shortcuts.
$include /etc/inputrc

## arrow up
"\e[A":history-search-backward
Control-k:history-search-backward
Control-p:history-search-backward
## arrow down
"\e[B":history-search-forward
Control-j:history-search-forward
Control-n:history-search-forward

# for .. set -o vi
set show-mode-in-prompt on
